{# extend the parent tpl #}
{% extends 'admin/layout_admin.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Trajectbegeleiding - ICT Kaho Sint Lieven' %}
{% set js = '' %}
{% set css = '' %}
{# overwrite the pageContent block #}
{% block pageContent1 %}

 	<div id="content" class="col-9">

	</div>

{% endblock %}