<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body onload="document.form1.submit()">
        <form name="form1" method="POST" action="https://www.eidtoolkit.be/services/LoginService.aspx">
            <input name="LID" type="hidden" value="d2201526-98ff-4ad4-a0a8-aadefeb74fa5" />
            <!--URL aanpassen voor webspace -->
            <input name="UrlSucceeded" type="hidden" value="http://localhost/Projecten 2/pbaict_1314_PR_trajectbegeleiding/web/student/bevestiging" />
        </form>
    </body>
</html>
